<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <IS_TEST>true</IS_TEST>
            <IS_LOCAL_TEST>false</IS_LOCAL_TEST>
			<RUN_CONTAINER_TESTS>true</RUN_CONTAINER_TESTS>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
