<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <IS_TEST>true</IS_TEST>
            <IS_LOCAL_TEST>false</IS_LOCAL_TEST>
            <RUN_CONTAINER_TESTS>true</RUN_CONTAINER_TESTS>
            <RUN_PERFORMANCE_CONTAINER_TESTS>true</RUN_PERFORMANCE_CONTAINER_TESTS>
            <RUN_TEMPORARY_TABLE_CONTAINER_TESTS>true</RUN_TEMPORARY_TABLE_CONTAINER_TESTS>
            <RUN_TABLE_CONTAINER_TESTS>true</RUN_TABLE_CONTAINER_TESTS>
            <RUN_INSERT_CONTAINER_TESTS>true</RUN_INSERT_CONTAINER_TESTS>
            <RUN_SELECT_CONTAINER_TESTS>true</RUN_SELECT_CONTAINER_TESTS>
            <RUN_SCHEMA_CONTAINER_TESTS>true</RUN_SCHEMA_CONTAINER_TESTS>
            <RUN_TRANSACTION_CONTAINER_TESTS>true</RUN_TRANSACTION_CONTAINER_TESTS>
            <RUN_MARIADB_CONTAINER_TESTS>true</RUN_MARIADB_CONTAINER_TESTS>
            <RUN_DB2_CONTAINER_TESTS>true</RUN_DB2_CONTAINER_TESTS>
            <DBSQLLIKEMEM_BENCH_MYSQL_CONNECTION_STRING>Server=127.0.0.1;Port=13306;Database=benchmark;Uid=root;Pwd=root;Pooling=false;</DBSQLLIKEMEM_BENCH_MYSQL_CONNECTION_STRING>
            <MYSQL_CONNECTION_STRING>Server=127.0.0.1;Port=13306;Database=benchmark;Uid=root;Pwd=root;Pooling=false;</MYSQL_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_MARIADB_CONNECTION_STRING>Server=127.0.0.1;Port=13307;Database=benchmark;Uid=root;Pwd=root;Pooling=false;</DBSQLLIKEMEM_BENCH_MARIADB_CONNECTION_STRING>
            <MARIADB_CONNECTION_STRING>Server=127.0.0.1;Port=13307;Database=benchmark;Uid=root;Pwd=root;Pooling=false;</MARIADB_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_NPGSQL_CONNECTION_STRING>Host=127.0.0.1;Port=15432;Database=benchmark;Username=postgres;Password=postgres;Pooling=false;</DBSQLLIKEMEM_BENCH_NPGSQL_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_POSTGRES_CONNECTION_STRING>Host=127.0.0.1;Port=15432;Database=benchmark;Username=postgres;Password=postgres;Pooling=false;</DBSQLLIKEMEM_BENCH_POSTGRES_CONNECTION_STRING>
            <NPGSQL_CONNECTION_STRING>Host=127.0.0.1;Port=15432;Database=benchmark;Username=postgres;Password=postgres;Pooling=false;</NPGSQL_CONNECTION_STRING>
            <POSTGRES_CONNECTION_STRING>Host=127.0.0.1;Port=15432;Database=benchmark;Username=postgres;Password=postgres;Pooling=false;</POSTGRES_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_SQLSERVER_CONNECTION_STRING>Server=127.0.0.1,11433;Database=master;User Id=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True;Pooling=false;</DBSQLLIKEMEM_BENCH_SQLSERVER_CONNECTION_STRING>
            <SQLSERVER_CONNECTION_STRING>Server=127.0.0.1,11433;Database=master;User Id=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True;Pooling=false;</SQLSERVER_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_ORACLE_CONNECTION_STRING>User Id=benchmark;Password=benchmark;Data Source=127.0.0.1:15211/FREEPDB1;Pooling=false;</DBSQLLIKEMEM_BENCH_ORACLE_CONNECTION_STRING>
            <ORACLE_CONNECTION_STRING>User Id=benchmark;Password=benchmark;Data Source=127.0.0.1:15211/FREEPDB1;Pooling=false;</ORACLE_CONNECTION_STRING>
            <DBSQLLIKEMEM_BENCH_DB2_CONNECTION_STRING>DATABASE=BENCH;SERVER=127.0.0.1:15000;USER_ID=db2inst1;PASSWORD=db2inst1;POOLING=False;</DBSQLLIKEMEM_BENCH_DB2_CONNECTION_STRING>
            <DB2_CONNECTION_STRING>DATABASE=BENCH;SERVER=127.0.0.1:15000;USER_ID=db2inst1;PASSWORD=db2inst1;POOLING=False;</DB2_CONNECTION_STRING>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
