# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore src/DbSqlLikeMem.slnx

      - name: Build
        run: dotnet build src/DbSqlLikeMem.slnx --configuration Release --no-restore

      - name: Test
        run: dotnet test src/DbSqlLikeMem.slnx --framework net8.0 --configuration Release --no-build --verbosity normal
